/*
  floating style
*/
.floating {
  position: fixed;
  top: 154px;
  right: 4%;
  z-index: 1000;

  a {
    img {
      width: 100%;

      &:nth-child(2) {
        display: none;
      }
    }
  }
}

// max-width - 1400px
@media screen and (max-width: 1400px) {
  .floating {
    right: 1%;
  }
}
// max-width - 960px
@media screen and (max-width: 960px) {
  .floating {
    width: 14%;
    top: 90px;
  }
}
// max-width - 740px
@media screen and (max-width: 740px) {
  .floating {
    width: 16%;
  }
}
// max-width - 640px
@media screen and (max-width: 640px) {
  .floating {
    width: 25%;
    top: 100px;
    right: 1%;
  }
}
