/*
  reserve style
*/
.reserve {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #d7b89e;

  .bg {
    @include setPosition(absolute, 0, auto, auto, 0, 960);
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      &:nth-child(2) {
        display: none;
      }
    }
  }

  .content {
    position: relative;
    height: 100%;

    .main {
      @include setPosition(absolute, 24%,auto,auto,20px,960);
      .titleImg {
        img {
          &:nth-child(2) {
            display: none;
          }
        }
      }
      .detail_btn {
        margin: 40px 285px 0 285px;
        
        a {
          color: #815932;
          border-color: #815932;
          &:hover {
            color: $white;
            background-color: #815932;
          }
        }
      }
    }
  }
}

// width - 961px ~ 1120px
@media screen and (min-width: 961px) and (max-width: 1120px) {
  .reserve {
    height: 355px;
  
    .content {  
      .main {
        top: 16%;
        .titleImg {
          width: 525px;

          img {
            width: 100%;
          }
        }

        .detail_btn {
          margin: 40px 250px 0 250px;
        }
      }
    }
  }
}

// max-width - 960px
@media screen and (max-width: 960px) {
  .reserve {
    height: max-content;
    background: none;

    .bg {
      position: static;
      img {
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          display: block;
        }
      }
    }
  
    .content {
      position: static;
      padding: 0;
      .main {
        position: static;
        
        .titleImg {
          img {
            display: none;
          }
        }
        .detail_btn {
          @include setPosition(absolute,auto,auto,10%,50%,960);
          margin: 0;
          transform: translate(-50%, 0);
        }
      }
    }
  }
}